/* Popup style */
/*
.title-assignTest{
    display: inline-block;
   background-color: #FFDD00;
   
   margin-left: auto;
   margin-top: auto;
}
*/
.title-DeletePerson{
   
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
.popup-box h1{
    margin-left: 15%;
    margin-top: 30px;
   
    width: 400px;
    display: block;
}

.OK-DeletePerson{
    width: 30%;
    height: 50px;
    border-radius: 30px;
    font-size: 30px;
    background-color: #FFDD00;
    border: none;
    font-weight: bold;
    margin-left: 20%;
    margin-top: 65px;
}
.OK2-DeletePerson{
    width: 30%;
    height: 50px;
    border-radius: 30px;
    font-size: 30px;
    background-color:   #FFFFFF;
    border: 3px solid #E0E0E0;
    justify-content: center;
    font-weight: bold;
    margin-left: 10%;
    margin-top: 65px;
}
.popup-box-DeletePerson {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
  
  .box-DeletePerson {
    position: relative;
    width: 700px;
    margin: 0 auto;
    height: 350px;
    /*max-height: 70vh;*/
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 30px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
  }
  
  .close-icon-DeletePerson {
   
   
    right: calc(15% - 30px);
    top: calc(100vh - 85vh - 33px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
  }
  .CloseButton-DeletePerson{
    width: 40px;
    height: 40px;
   
    font-size: 30px;
    margin-left: 100%;
    margin-top: -55px;
    display: block;
}