.sort {
  
    max-width: 15px;
    max-height: 15px;
    margin-top: -3px;
}
.users-Users{
    margin-left: 10%;
}
.users-Users h1 {
    margin-left: 30px;
    margin-top: 30px;
    font-size: 50px;
    
}
.nav-Users{
   
    
    height: 40px;
    width: 1000px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.table-Users img{
    width: 30px;
    height: 30px;
}
.table-Users img:checked {background-color:black;}
.delete-Users{
    width: 130px;
    height: 40px;
    display: inline-block;
    background-color: #ddd;
    margin-left: 20px;
  
  justify-content: center;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.delete-Users img{
    width: 20px;
    height: 20px;
    display: block;
    margin-left: 90px;
    margin-top: -37px;
    cursor: pointer;
}
.delete-Users p{
    width: 130px;
    display: block;
    margin-top: 10px;
    margin-left: 20px;
   
}
.add-Users{
    display: inline-block;
    height: 40px;
    width: 140px;
    
    background-color: #ddd;
    margin-left: 20px;
    
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  cursor: pointer;
  
}
.add-Users img{
    width: 20px;
    height: 20px;
    display: block;
    margin-left: 95px;
    margin-top: -37px;
    cursor: pointer;
}

.add-Users p{
    width: 130px;
    display: block;
    margin-top: 10px;
    margin-left: 15px;
   
}
.test-Users{
    width: 170px;
    height: 40px;
    display: inline-block;
    background-color: #ddd;
    margin-left: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  cursor: pointer;
}
.test-Users img{
    width: 20px;
    height: 20px;
    display: block;
    margin-left: 130px;
    margin-top: -37px;
    cursor: pointer;
}
.test-Users p{
    width: 130px;
    display: block;
    margin-top: 10px;
    margin-left: 15px;
   
}
.find-users-Users{
    display: inline-block;
    width: 350px;
    height: 35px;
    background-color: white;
   padding: 5px;
   border-radius: 30px;
   margin-left: 0px;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
   border: 1px solid #ddd;
}
.find-users-Users img{
    width: 20px;
    height: 23px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 3px;
}
.find-users-Users input{
    width: 250px;
    border: none;
    outline: none;
}
.table-users-Users{
    margin-top: 30px;
    margin-left: 30px;
    
}
.Probel-Users{
    height: 10px;
}
.head-table-Users{
    margin-top: 100px;
    

}
.table-Users {
	width: 80%;
	border: none;
	margin-bottom: 20px;
	border-collapse: separate;
    border-spacing: 0;
    box-shadow:  0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background: #F8F8F8;
}

.table-Users thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background:  #FFFFFF;
	font-size: 14px;
	border-top: 1px solid #ddd;
    
}

.table-Users tr th:first-child, .table-Users tr td:first-child {
	border-left: 1px solid #ddd;
}
.table-Users tr th:last-child, .table-Users tr td:last-child {
	border-right: 1px solid #ddd;
}


.table-Users thead tr th:first-child {
	border-radius: 20px 0 0 0;
  
}
.table-Users thead tr th:last-child {
	border-radius: 0 20px 0 0;
    
}

.table-Users tbody td {
	text-align: left;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
   

}
.table-Users tbody tr:nth-child(even) {

    background: #FFFFFF;

}
.table-Users tbody tr:last-child td{
	border-bottom: 1px solid #ddd;
}
.table-Users tbody tr:first-child td{
    
	border-top: 1px solid #ddd;
}
.table-Users tbody tr:last-child td:first-child {
	border-radius: 0 0 0 20px;
}
.table-Users tbody tr:last-child td:last-child {
	border-radius: 0 0 20px 0;
}
/*
.table tbody tr:first-child td:first-child {
	border-radius: 20px 0 0 0;
}
.table tbody tr:first-child td:last-child {
   
	border-radius: 0 20px 0 0;
}*/